@import "../common/base";
section{
  min-height: 100%;
}
header{
  padding: 10px;height: 18px; border-bottom: 1px solid black;
  nav{
    width:1000px; margin: 0 auto;
    a{
      float: left; height: 19px;
      margin-left:25px;color:nth($gray,3);
      line-height: 19px;
      transition: color .3s;
      &:hover{
        color:white;text-decoration: none;
      }
    }
  }
  background: nth($black,2);
}